<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id="result-wrapper">
			<div id="results">
				<div class="video" data-ng-repeat="video in results" data-ng-click="queue(video.id, video.title)">
					<img class="video-image" data-ng-src="{{ video.thumbnail }}">
					<p class="video-title">{{ video.title }}</p>
					<p class="video-author">{{ video.author }}</p>
				</div>
			</div>			
		</div>
		<div class="col-md-6" id="player">
			<div class="row">
				<div class="videoWrapper">
					<div id="placeholder"></div>
				</div>
			</div>
			<div class="row" id="playlist">
				<div>
					<p id="current">{{ youtube.videoTitle }}</p>
					<ol class="list-group"  data-ng-show="playlist">
						<li class="list-group-item" data-ng-repeat="video in upcoming">
							<p class="item-delete" data-ng-click="delete('upcoming', video.id)">delete</p>
							<p class="item-title" data-ng-click="launch(video.id, video.title)">{{video.title}}</p>
						</li>
					</ol>
					<ol id="history" class="list-group" data-ng-hide="playlist">
						<li class="list-group-item" data-ng-repeat="video in history">
							<p class="item-delete" data-ng-click="delete('history', video.id)">delete</p>
							<p class="item-title" data-ng-click="queue(video.id, video.title)">{{video.title}}</p>
						</li>
					</ol>
					<p id="tabs">
						<a ng-class="{on:playlist}" data-ng-click="tabulate(true)">Upcoming</a>
						<a ng-class="{on:!playlist}" data-ng-click="tabulate(false)">History</a>
					</p>					
				</div>
			</div>
		</div>
	</div>
</div>


